body
{
    
}
.main
{
    margin:0 auto;
    margin-top: 7vh;
    margin-bottom: 5vh;
    background-color:#fed62f;
    width:90vw;
    height:80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.rowAgain {
	padding-left: 20px;
	padding-right: 20px;
    margin-left: 30px;
    
    
    
}
.ourImage {
	margin-left: 33px;
	float: left;
	width: 250px;
   
}

.ourImage img {
   
    
	width: 180px;
	height: 120px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
}
.head
{
    color:whitesmoke;
    font-family: cursive;
    margin-left: 10px;
    font-weight: bolder;
    font-size: 55px;
}