@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);


body, html{
	padding: 0;
	margin: 0;
	
}
.contact_header{
	font-weight: normal;
	font-size: 4em;
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
	margin-top: 30px;
	width: 500px;
	color: #F90;
	text-align: center;

}

/* Animation webkit */
@-webkit-keyframes myfirst
{
	0%
    {
        transform: translateY(-50px);
        left: -25%;
    }
	10%
    {
        transform: translateY(30px);
    }
     25%
    {
        transform: translateY(100px);
    }
	35%%
    {
        transform: translateY(150px);
    }
     50%
    {
        transform: translateY(80px);
    }
     75%
    {
        transform: translateY(20px);
    }
     100%
    {
        transform: translateY(-50px);
        left: 150%;
    }
}

/* Animation */
@keyframes myfirst
{
	0%
    {
        transform: translateY(-50px);
        left: -25%;
    }
	10%
    {
        transform: translateY(0px);
    }
     25%
    {
        transform: translateY(200px);
    }
	35%%
    {
        transform: translateY(50px);
    }
     50%
    {
        transform: translateY(70px);
    }
     75%
    {
        transform: translateY(20px);
    }
     100%
    {
        transform: translateY(-50px);
        left: 150%;
    }
}


.fish{
	background-image: url('https://image.ibb.co/cWAcad/Fish.png');
	width: 330px;
	height: 150px;
	margin-left: -235px;
	position: absolute;	
	animation: myfirst 24s;
	-webkit-animation: myfirst 24s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
.fish2{
	background-image: url('https://image.ibb.co/cWAcad/Fish.png');
	width: 330px;
	height: 150px;
	margin-left: -235px;
	position: absolute;	
	animation: myfirst 24s;
	-webkit-animation: myfirst 24s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

#fish{
	top: 120px;
}

#fish2{
	top: 300px;
	animation-delay: 12s;
	-webkit-animation-delay: 12s;
}


header{
	height: 160px;
	background: url('http://www.geertjanhendriks.nl/codepen/form/golf.png') repeat-x bottom;
}

#form{
	height: 100%;	
	background-color: #98d4f3;
	overflow: hidden;
	position: relative;
	
}
form{
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
	color: white;
	position: relative;
	font-family: 'Sniglet', cursive;
	
}
label, input, textarea{
	display: block;	
}
input, textarea{
	width: 500px;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: 'Sniglet', cursive;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #98d4f3;	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}
input:focus, textarea:focus{
	border: solid 3px #77bde0;	
}

textarea{
	height: 100px;	
	resize: none; 
	overflow: auto;
}
input[type="submit"]{
	background-color: #F90;
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	font-family: 'Sniglet', cursive;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
input[type="submit"]:hover{
	background-color: #e58f0e;
	
}
label{
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}
.formgroup, .formgroup-active, .formgroup-error{
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 10.5%;
	transition: background-image 0.7s;
	-webkit-transition: background-image 0.7s;
	-moz-transition: background-image 0.7s;
	-o-transition: background-image 0.7s;
	width: 566px;
	padding-top: 2px;
}

.formgroup{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/pixel.gif');	
}
.formgroup-active{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo.png');
}
.formgroup-error{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo-error.png');
	color: red;
}


/* CSS for Menu starts*/
.overlay {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  z-index: 200;
  background-color: #ef293a;
  transition: height 1s ease-in-out;
}
.overlay.open {
  height: 100%;
}
.overlay.open .link-wrapper {
  opacity: 1;
}
.overlay .link-wrapper {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 300ms ease 300ms;
}
.overlay .link-wrapper a {
  position: relative;
  font-family: Acme;
  font-weight: bold;
  font-size: 25px;
  line-height: 60px;
  color: white;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 0px 8px 0px 8px;
}
.overlay .link-wrapper a span {
  display: inline-block;
}
.overlay .link-wrapper a span:after {
  content: '';
  display: block;
  margin: auto;
  height: 5px;
  width: 0px;
  background: transparent;
  transition: width 300ms ease, background-color 300ms ease;
}
.overlay .link-wrapper a:hover {
  color: white;
}
.overlay .link-wrapper a:hover span:after {
  width: 100%;
  background-color: white;
}

.navigation {
  width: 100%;
  height: 40px;
  z-index: 400;
  position: absolute;
}
.float_center {
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}
.float_center > .child {
  position: relative;
  left: 50%;
}

.clear {
  clear:both;
}

.burger_deluxe {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  width: 34px;
  height: 40px;
  z-index: 3;
}
.burger_deluxe .burger_global {
  position: absolute;
  border-top: 5px solid #ef293a;
  width: 100%;
}
.burger_deluxe .burger_global.top_bun {
  top: 0;
  transition: transform 500ms ease, border 500ms ease;
  transform-origin: left center;
}
.burger_deluxe .burger_global.patty {
  top: 12px;
  transition: opacity 500ms ease;
}
.burger_deluxe .burger_global.bottom_bun {
  top: 24px;
  transition: transform 500ms ease, border 500ms ease;
  transform-origin: left center;
}
.burger_deluxe.open span {
  border-color: white;
}
.burger_deluxe.open .top_bun {
  transform: rotate(45deg);
}
.burger_deluxe.open .patty {
  opacity: 0;
}
.burger_deluxe.open .bottom_bun {
  transform: rotate(-45deg);
}

ul
{
    list-style-type: none;
}
/* CSS for Menu ends */

/* Menu Animation Starts*/
svg {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

line {
  stroke-width: 4.5;
}

/* Menu Animation Ends*/