<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>our team showcase</title>
  <link href="https://fonts.googleapis.com/css?family=Karla|Yeseva+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="only screen and (orientation: portrait) and (min-width: 240px) and (max-width: 374px)"  href="small-devices.css">
    <link rel="stylesheet" type="text/css" media="only screen and (orientation: portrait) and (min-width: 375px) and (max-width: 667px)"  href="iphone6.css">
    <link rel="stylesheet" type="text/css" media="only screen and (orientation: landscape) and (min-width: 480px) and (max-width: 640px)"  href="small-devices-landscape.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>

      <link rel="stylesheet" href="css/captain.css">
    <link type="text/css" rel="stylesheet" href="css/omi_style.css">
    <link  type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link  type="text/css" rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/anglers.css">
  
</head>

<body>

  <div :class="['Crewcontainer', isSelected ? 'container-selected':'', isReady ? 'container-ready':'']" id="app">
  <div class="team-container">
    <div class="CaptainHeader wow slideInLeft">
      <h2 class="CaptainHeader-title ">The Captains</h2>
    </div>
    <div class="person-list">
      <div class="person" v-for="(person,index) in persons" @click="selectPerson(index,$event)"><img class="person-img" :src="person.photo">
        <div class="person-details">
          <h2 class="person-title">{{person.name}}</h2>
          <p class="person-desc">{{person.title}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="team-detail">
    <div class="team-detail-inner" v-if="isOk">
      <div class="team-detail-left" :style=`background-image:url(${selectedPersonData.photo})`>
        <div class="team-detail-photo"><img :src="selectedPersonData.photo" alt="">
        </div>
      </div>
      <div class="team-detail-right">
        <div class="team-detail-bio">
          <div class="team-detail-header">
            <h2 class="person-title">{{selectedPersonData.name}}</h2>
            <p class="person-desc">{{selectedPersonData.title}}</p>
            <div class="social">
              <a :href="selectedPersonData.social.facebook" target="_blank" class="ion-social-facebook"></a>
              <a :href="selectedPersonData.social.twitter" target="_blank" class="ion-social-twitter"></a>
              <a href="selectedPersonData.social.linkedin" target="_blank" class="ion-social-linkedin"></a>
            </div>
          </div>
          <div class="team-detail-bio-content" v-html="selectedPersonData.bio">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    
    
        <!--    Bait Makers MAin page  Starts -->
    
    
       <div class="bait_makers_container">
           <div class="CaptainHeader wow slideInRight">
      <h2 class="CaptainHeader-title ">The Baitmakers</h2>
    </div>
            <div class="bait_makers_photo_container">
                <div class="row">
                    <div class="col-lg-6 wow slideInLeft" style="margin-top: 15px;">
                        <div class="bait_makers_left1">
                            <h4>Nabila Basher</h4>
                            <p>Associate Creative Director<br>10 Years Experience</p>
                            <p class="bait_makers_brief">A creative soul. Loves to create, conceptualize, and ideate. Worked with grameenphone, robi, coca-cola, prothom alo, afbl, brac bank ltd, apex etc.</p>
                        </div>
                        <div class="bait_makers_left1_img" style="position: relative; right: -20px;">
                            <img src="images/messi1.jpeg" alt="Images not found">
                        </div>
                    </div>
                    <div class="col-lg-6 wow slideInRight">
                        <div class="bait_makers_right1_img">
                            <img src="images/messi2.jpg" alt="Images not found">
                        </div>
                        <div class="bait_makers_right1">
                            <h4>Nabila Basher</h4>
                            <p>Associate Creative Director<br>10 Years Experience</p>
                            <p class="bait_makers_brief">A creative soul. Loves to create, conceptualize, and ideate. Worked with grameenphone, robi, coca-cola, prothom alo, afbl, brac bank ltd, apex etc.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 wow slideInleft" style="margin-top: 15px;">
                        <div class="bait_makers_left1">
                            <h4>Nabila Basher</h4>
                            <p>Associate Creative Director<br>10 Years Experience</p>
                            <p class="bait_makers_brief">A creative soul. Loves to create, conceptualize, and ideate. Worked with grameenphone, robi, coca-cola, prothom alo, afbl, brac bank ltd, apex etc.</p>
                        </div>
                        <div class="bait_makers_left1_img" style="position: relative; top: -30px; left: 10px;">
                            <img src="images/messi1.jpeg" alt="Images not found">
                        </div>
                    </div>
                    <div class="col-lg-6 wow slideInRight">
                        <div class="bait_makers_right1_img" style="position: relative; top: -25px; right: 10px;">
                            <img src="images/messi2.jpg" alt="Images not found">
                        </div>
                        <div class="bait_makers_right1">
                            <h4>Nabila Basher</h4>
                            <p>Associate Creative Director<br>10 Years Experience</p>
                            <p class="bait_makers_brief">A creative soul. Loves to create, conceptualize, and ideate. Worked with grameenphone, robi, coca-cola, prothom alo, afbl, brac bank ltd, apex etc.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--    Bait Makers Main page  Ends -->
    
    <div class="CaptainHeader wow bounceInDown">
      <h2 class="CaptainHeader-title ">The Anglers</h2>
    </div>
    
    <div class="bubbles">
	

  <div class="row teamrow3">
            <div class="wow zoomInDown col-md-3 col-xs-6">
              <img class="pic" src="images/dhrubo.jpg"><br><br><br><br>
              <span class="copy">
                <p class="name">Rizbanul Hasan</p>
                <p class="title">Software Developer</p>
                </span>
            </div>
            
                   
            <div class="wow zoomInDown col-md-3 col-xs-6">
                <img class="pic" src="images/nushrat.jpg"><br><br><br><br>
                
              <span class="copy">
                <p class="name">Nusrat Maati</p>
                <p class="title">Sub Editor</p>
                
              </span>
            </div>
            <div class="wow zoomInDown col-md-3 col-xs-6">
              <img class="pic" src="images/mahdi.jpg"><br><br><br><br>
              <span class="copy">
                <p class="name">Kazi Mahdi</p>
                <p class="title">Software Developer</p>
                </span>
            </div>
            
                   
            <div class="wow zoomInDown col-md-3 col-xs-6">
                <img class="pic" src="images/munzee.jpg"><br><br><br><br>
                
              <span class="copy">
                <p class="name">Munzereen Shahid</p>
                <p class="title">Sub Editor</p>
                
              </span>
            </div>
          </div>
      
      <!--Row 2-->
             <div class="row teamrow3">
            <div class="wow zoomInDown col-md-3 col-xs-6">
              <img class="pic" src="images/dhrubo.jpg"><br><br><br><br>
              <span class="copy">
                <p class="name">Rizbanul Hasan</p>
                <p class="title">Software Developer</p>
                </span>
            </div>
            
                   
            <div class="wow zoomInDown col-md-3 col-xs-6">
                <img class="pic" src="images/nushrat.jpg"><br><br><br><br>
                
              <span class="copy">
                <p class="name">Nusrat Maati</p>
                <p class="title">Sub Editor</p>
                
              </span>
            </div>
            <div class="wow zoomInDown col-md-3 col-xs-6">
              <img class="pic" src="images/mahdi.jpg"><br><br><br><br>
              <span class="copy">
                <p class="name">Kazi Mahdi</p>
                <p class="title">Software Developer</p>
                </span>
            </div>
            
                   
            <div class="wow zoomInDown col-md-3 col-xs-6">
                <img class="pic" src="images/munzee.jpg"><br><br><br><br>
                
              <span class="copy">
                <p class="name">Munzereen Shahid</p>
                <p class="title">Sub Editor</p>
                
              </span>
            </div>
          </div>
           
  <!--Row 3-->
             <div class="row teamrow3">
            <div class="wow zoomInDown col-md-3 col-xs-6">
              <img class="pic" src="images/dhrubo.jpg"><br><br><br><br>
              <span class="copy">
                <p class="name">Rizbanul Hasan</p>
                <p class="title">Software Developer</p>
                </span>
            </div>
            
                   
            <div class="wow zoomInDown col-md-3 col-xs-6">
                <img class="pic" src="images/nushrat.jpg"><br><br><br><br>
                
              <span class="copy">
                <p class="name">Nusrat Maati</p>
                <p class="title">Sub Editor</p>
                
              </span>
            </div>
            <div class="wow zoomInDown col-md-3 col-xs-6">
              <img class="pic" src="images/mahdi.jpg"><br><br><br><br>
              <span class="copy">
                <p class="name">Kazi Mahdi</p>
                <p class="title">Software Developer</p>
                </span>
            </div>
            
                   
            <div class="wow zoomInDown col-md-3 col-xs-6">
                <img class="pic" src="images/munzee.jpg"><br><br><br><br>
                
              <span class="copy">
                <p class="name">Munzereen Shahid</p>
                <p class="title">Sub Editor</p>
                
              </span>
            </div>
          </div>
           

	
</div>
    
    
    
    
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.1/vue-resource.min.js'></script>
    <script  src="js/captain.js"></script>
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/omi.js"></script>
    <script  src="js/index.js"></script>
    <script src="js/wow.min.js"></script>
    <script>new WOW().init();</script>
    <script  src="js/anglers.js"></script>
     <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>




</body>

</html>
